img {
    width: 400px;
    height: auto;
    margin: 0 auto;
}

body {
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

h2 {
    color: rgb(24, 94, 130);
}

a.home {
    display: block;
    width: auto;
    text-align: end;
    font-weight: 600;
}

a.homepage-link {
    color: white;
}

li.list-homepage {
    padding: 20px;
    margin: 20px 0;
    width: fit-content;
    background-color: rgb(255, 158, 110);
}

.list-container {
    width: 900px;
    display: flex;
}

.list-items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.homepage-photo {
    width: 300px;
}