img {
    width: 400px;
    height: auto;
}

body {
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

h2 {
    color: rgb(24, 94, 130);
}

a.home {
    display: block;
    width: auto;
    text-align: end;
}

